<div class="card container">
  <br>
  <div class="container d-inline ">
    <h6 class="d-inline"> <%= title %> </h6><button class=" btn float-end btn-sm btn-outline-secondary">+ add item</button>
  </div>
  <table class="<%= tableClassName %>  table table-bordered mt-1 small pb-5">
    <thead class="  fw-bold  ">
      <tr></tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>