<div class="nav bg-dark text-light d-flex justify-content-between" >
  <span class="navbar-brand text ms-2 ">
  <%= title %> </span>
  <span class="m-2 "  >
    <input class="rounded-pill bg-secondary border-0 bg-gradient shadow " type="button" value=" ••• "  >
</span>
</div>
